body {
    text-align: center;
    background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.form {
    display: flex;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 34rem;
    border-radius: 5rem;
    width: 50rem;
    height: 25rem;
    align-items: center;
    display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.form-group {
    padding-top: 2rem;
    margin: 0 auto;
}

label {
    font-size:15px;
}

#id_keywords {
    width: 30rem;
}
button {
    display: inline;
    text-align: center;
}
 #submitBtn {
    margin-top:2rem;
    background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   width: 20rem;

 }
.requiredField {
    margin-right: 25rem;
}

#parent {
    display: table;
    width: 100%;
 }

 .container {
    display: table;
   width: 100%;
 }