html,body,*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
  }
/* The side navigation menu */
body {
   background: #f5f6fa;
}

.wrapper .sidebar {
   background: #3f5efb;
   position: fixed;
   top: 0;
   left: 0;
   width: 22.5rem;
   height: 100%;
   padding: 2rem 0;
   transition: all 0.5s ease;
}
 
.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	color: rgba(252,70,107,1);
	font-size: 30px;
	position: relative;
   font-weight: bold;
}

.hs-div {
   font-weight: bold;
   font-size: 10rem;
   margin-top: 12rem;
   margin-left: 24rem;
   color: white;
}

.container-1 {
   text-align: center;
}

body {
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   /* margin-left: 50rem; */
}

h1 .color-change {
   color: rgba(252,70,107,1);
   font-size: 10rem;
}

h1 .red-change {
   color: rgb(63,94,251);
   font-size: 10rem;
}

.item {
   list-style-type: none;
   text-decoration: none;
   margin-left: 3rem;
   color: #FFFFFF;
}

a {
   text-decoration: none;
}

#home {
   position: relative;
   top: 2rem;
}

#jobs {
   position: relative;
   top: 10rem;
}

#profile {
   position: relative;
   top: 18rem;
}