body {
    text-align: center;
    background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.form {
    display: flex;
    background-color: #ffffff;
    margin: auto 49rem;
    margin-top: 6rem;
    width: 50rem;
    height: 71rem;
    flex-direction: column;
}
.form-group {
    padding-top: 2rem;
    margin: 0 auto;
}
#id_keywords {
    width: 30rem;
}
button {
    display: inline;
    text-align: center;
}
 #submitBtn {
    margin-top:2rem;
    background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   width: 20rem;

 }
.requiredField {
    margin-right: 34rem;
}

.form-group {
    font-size: 3.5rem;
}