.jobs {
    margin-left: 23rem;
} 

h1 #title {
    font-weight: bold;
    font-size: 100rem;
}

body {
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.mt-2 {
    font-weight: bold;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }